{%spaceless%}{%load static%}{%load vue%}
<!DOCTYPE html>
<html lang="zh-CN" class="dark">
<head>
<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<script src="{%static 'fkb/echarts.min.js'%}"></script>
<script src="{%static 'fkb/echarts.chalk.js'%}"></script>
<link rel="stylesheet" href="{%static 'fkb/element-plus.css'%}">
<link rel="stylesheet" href="{%static 'fkb/element-plus_theme-chlk_dark_css-vars.css'%}">
<link rel="stylesheet" href="{%static 'fkb/kb.css'%}">
</head>

<body><div id="app"><div class="common-layout">

<el-container>
<el-aside width="500px" height="100%">

<el-breadcrumb separator="/">
<el-breadcrumb-item>
<a href="{%url 'pds' 'ongoing'%}">{%if cur_pd%}{{cur_pd.ttl}}{%else%}**{%endif%}</a>
</el-breadcrumb-item>

{%if cur_pl%}
<el-breadcrumb-item>{{cur_pl.ttl}}</el-breadcrumb-item>
{%endif%}

<el-breadcrumb-item>
<el-text size="small" type="info">下次同步:{{next_sync|date:'m-d H:i'}}</el-text>
</el-breadcrumb-item>

</el-breadcrumb>

<br/>

<el-space direction="vertical" alignment="start" :size="1">

{%for st in cur_STs%}
{%if st.typ == 'S'%}
{%else%}
<el-card class="task-box">
<el-text class="task {{st.stt}}">
{{st.ttl}} 
</el-text>

<el-breadcrumb separator="/">
{%if not cur_pd%} <el-breadcrumb-item><el-text type="info">
{{st.of_It.of_Pd.ttl}}</el-text></el-breadcrumb-item>{%endif%}

{%if not cur_pl%}<el-breadcrumb-item><el-text type="info">
{{st.of_It.of_Pl.ttl}}</el-text></el-breadcrumb-item>{%endif%}

<el-breadcrumb-item>
<el-text type="info">T#{{st.uid}}</el-text>
</el-breadcrumb-item>

{%if st.pts%}<el-breadcrumb-item><el-text type="info">
{{st.pts}}</el-text></el-breadcrumb-item>{%endif%}

</el-breadcrumb>

</el-card>
{%endif%}
{%endfor%}
</el-space>
</el-aside>

<el-main><div id="it_chart"></div></el-main>

</el-container>

</div></div></body>
<script src="{%static 'fkb/vue.global.min.js'%}"></script>
<script src="{%static 'fkb/element-plus.js'%}"></script>
<script>
const App = {
data() { return {
//data
} },
methods:{},
mounted(){
document.title = "迭代数据"
} }
const app = Vue.createApp(App);
app.use(ElementPlus);
app.mount('#app')
</script>
<script>

DATASET = [
{source:[{%for bu in burn_lst|dictsort:0%}
['{{bu.0|date:"Y-m-d"}}',{{bu.1|floatformat:1}},{{bu.2|floatformat:1}}],{%endfor%}
]},
{source:[{%for ht in hist|dictsort:0%}
['{{ht.0|date:"Y-m-d"}}',{{ht.1|floatformat:1}},{{ht.2|floatformat:1}},{{ht.3|floatformat:1}},{{ht.4|floatformat:1}},{{ht.5|floatformat:1}}],{%endfor%}
]},
]

// find the min/max of DATASET[1].source 2,4
var ave_day = 0, ave_ppp = 0, cnt=0;
var a1mi = 999, a1ma = 0, a2mi = 999, a2ma = 0;
for(var i=0;i<DATASET[1].source.length;i++){
var d = DATASET[1].source[i];
ave1 = d[2]; ave2 = d[4];
ave_day += ave1; ave_ppp += ave2; cnt++;
if(ave1<a1mi)a1mi=ave1;else if(ave1>a1ma)a1ma=ave1;
if(ave2<a2mi)a2mi=ave2;else if(ave2>a2ma)a2ma=ave2;
}
a1mi=a1mi.toFixed(1);a1ma=a1ma.toFixed(1);
a2mi=a2mi.toFixed(1);a2ma=a2ma.toFixed(1);
ave_day = (ave_day/cnt).toFixed(1);
ave_ppp = (ave_ppp/cnt).toFixed(1);

var today = new Date();
today = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();

var option = {
legend:[
{data:['IDEA','REAL'],right:'50%',formatter:function(name){
if(name == 'REAL') return '现实'; else return "理想";} },
{data:['wdp','wdpMA','PPP','pppMA','ppl'],top:'50%',right:'50%',
formatter:function(name){switch(name){
case 'wdpMA':return '{{ave_day}}天 ['+a1mi+' ~ '+a1ma+']';
case 'wdp':return "天";
case 'pppMA':return '{{ave_day}}人天 ['+a2mi+' ~ '+a2ma+']';
case 'ppp':return "人天";
case 'ppl':return "人数";} return '';} },
{data:['x1','x2'],right:'2%',formatter:function(name){} },
],
title:[
{text:'增长图'},{text:'人天效',top:'50%'},
{text:'/',left:'53%'},
],
tooltip:{show:true,trigger:'axis',backgroundColor:'black',
formatter:function(params){
p0=params[0];serid=p0.seriesIndex;
data=p0.data;dt=data[0];d1=data[1];d2=data[2];
if(serid<2){
return `<div class="tltp">
<div class="tltp_l"><div>${dt}</div></div>
<div class="tltp_l"><div>理想:</div><div id="tltp_v">${d1}</div></div>
<div class="tltp_l"><div>现实:</div><div id="tltp_v">${d2}</div></div>
</div>`}
if(serid>1 && serid<6){d3=data[3];d4=data[4];
return `<div class="tltp">
<div class="tltp_l">${dt}</div>
<div class="tltp_l"><div>天:</div><div id="tltp_v">${d1}</div></div>
<div class="tltp_l"><div>{{ave_day}}天:</div><div id="tltp_v">${d2}</div></div>
<div class="tltp_l"><div>人天:</div><div id="tltp_v">${d3}</div></div>
<div class="tltp_l"><div>{{ave_day}}人天:</div><div id="tltp_v">${d4}</div></div>
</div>`}
return '--';}
},
dataZoom:[{
filterMode:'weakFilter',
show:true,
realtime:true,
start:{{vse.0}},
end:{{vse.1}},
xAxisIndex:[0]
},],
dataset:DATASET,
xAxis:[
{type:'time',gridIndex:0,interval:1},
{type:'time',gridIndex:1},
{type:'time',gridIndex:2,},
],
yAxis:[
{type:'value',gridIndex:0},
{type:'value',gridIndex:1,max:function(v){return a1ma*1.2;} },
{type:'value',gridIndex:2,max:function(v){return v.max*1.2;} },
],
grid:[
{left:'30',bottom:'55%',right:'50%'},
{left:'30',top:'55%',right:'50%',},
{left:'52%',bottom:'55%',right:'2%'},
],
series:[
{name:'IDEA',type:"line",datasetIndex:0,encode:{x:0,y:1},
xAxisIndex:0,yAxisIndex:0,color:"#87f7cf66",
label:{show:true},areaStyle:{opacity:0.5},
markLine:{precision:1,silent:true,data:[{xAxis:today}]} },

{name:'REAL',type:"line",datasetIndex:0,encode:{x:0,y:2},
xAxisIndex:0,yAxisIndex:0,color:"#87f7cf",
label:{show:true},areaStyle:{opacity:0.3},
},

{name:'wdp',type:"line",datasetIndex:1,encode:{x:0,y:1},
xAxisIndex:1,yAxisIndex:1,color:'#f7f49466',
areaStyle:{opacity:0.5} },

{name:'wdpMA',type:"line",datasetIndex:1,encode:{x:0,y:2},
xAxisIndex:1,yAxisIndex:1,color:'#f7f494',
smooth:1,
markLine:{precision:1,silent:true,data:[{type:'average',name:'平均'}]} },

{name:'PPP',type:"line",datasetIndex:1,encode:{x:0,y:3},
xAxisIndex:1,yAxisIndex:1,color:'#f7c5a066',
areaStyle:{opacity:0.5} },

{name:'pppMA',type:"line",datasetIndex:1,encode:{x:0,y:4},
xAxisIndex:1,yAxisIndex:1,color:'#f7c5a0',
smooth:1,
markLine:{precision:1,silent:true,data:[{type:'average',name:'平均'}]} },

{name:'ppl',type:"line",datasetIndex:1,encode:{x:0,y:5},
xAxisIndex:1,yAxisIndex:1,color:'#d4a4eb',
markLine:{precision:1,silent:true,data:[{type:'average',name:'平均'}]},
lineStyle:{width:1} }

]}

var dom = document.getElementById('it_chart')
var myChart = echarts.init(dom, 'chalk');
myChart.setOption(option);
</script>

</html>
{%endspaceless%}